* {
    margin: 0;
    margin-top: 4px;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    transition: .3s;
}

.logo {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

body {
    height: 100%;
    background-image: linear-gradient(to left, wheat, rgb(192, 37, 37));
}

.container {
    max-width: 80%;
    background-color: burlywood;
    margin: auto;
    height: 75vh;
    padding: 15px;
    overflow-y: auto;
    border: 2px black solid;
}

.message {
    background-color: lightgray;
    width: auto;
    border: 2px black solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    overflow: auto;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

#send-container {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 100%;
    text-align: center;
    margin-top: 5px;
}

#messageInp {
    width: 88%;
    border: 2px solid black;
    border-radius: 5px;
    height: 34px;
}

.btn {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 38px;
    width: 10%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}

.btn:hover {
    color: blue;
}

#block {
    display: flex;
    justify-content: center;
    align-items: center;
}

#encryp {
    text-align: center;
    color: blue;
    background-color: lightblue;
    border-radius: 7px;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
}

@media(max-width:900px) and (min-width: 500px) {
    .btn {
        width: 20%;
    }
    .message {
        width: 60%;
    }
}

@media(max-width: 499px) {
    .btn {
        width: 25%;
        height: 30px;
    }
    .message {
        width: 75%;
        font-size: 16px;
    }
}